h1 {
  text-decoration: underline;
}

.image {
    padding-right: 50px;
    margin-right: 50px;
    border-right-style: dotted;
    border-width: 1px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.description {
    text-align: left;
}

.container-inner {
    margin-top: 3vh;
    margin-bottom: 3vh;
}